
body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
}

.semaforo{
    border: 1px solid black;
    width: 190px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: black;
    border-radius: 10%;
   
    
}
.semaforo div {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
   
   
 
}
.rojo {
  background: red;
}
.amarillo{
  background: yellow;
}
.verde{
  background: green;
}
.lightOn{
  box-shadow: 3px 7px 83px 27px rgba(234,218,218,0.76);